.container {
    display: grid;
    grid-template-columns: repeat(16,0px 1fr);
    height: 800px;
    max-height: 800px;
    width: 800px;
    max-width: 800px;
    border: 5px solid black;
    
}

div {
    height: 7px;
    width: 7px;
}
