.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 800px;
    max-height: 800px;
    width: 800px;
    max-width: 800px;
    border: 5px solid rgb(31, 93, 151);
    
}

div {
    height: 7px;
    width: 7px;
}
